.footer-area {
    background: #fff !important;
    padding: 50px 0 70px 0;

    @include respond-below(xl) {
        padding: 80px 0 100px 0;
    }

    @include respond-below(lg) {
        padding: 50px 0 20px 0;
    }

    @include respond-below(md) {
        padding: 50px 0 20px 0;
    }

    @include respond-below(sm) {
        padding: 30px 0 20px 0;
    }

    @include respond-below(xs) {
        padding: 30px 0 20px 0;
    }

    .footer-logo-img {

        @include respond-below(md) {
            margin: 0 0 30px 0;
        }

        @include respond-below(sm) {
            margin: 0 0 20px 0;
        }

        @include respond-below(xs) {

            margin: 0 0 20px 0;
        }

        img {
            width: 80%;

            @include respond-below(md) {
                width: 50%;
            }

            @include respond-below(sm) {
                width: 80%;
                padding: 0;
            }

            @include respond-below(xs) {
                width: 80%;
                padding: 0;
            }
        }

        .footer-address {
            margin: 15px 0 0 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

           .footer-country-box
           {
            margin: 0 20px 10px 0;

            a 
            {
                text-decoration: none;
                color: #333;
                align-items: center;
                display: flex;
                justify-content: center;

                &:hover
                {
                    text-decoration: none;
                }

                img 
                {
                    width: 30px;
                    height: auto;
                    margin: 0 7px 0 0;
                }
            }

           }
        }

        .footer-tel {
            margin: 20px 0 0 0;

            @include respond-below(md) {
                margin: 10px 0 0 0;
            }

            a {
                text-decoration: none;
            }
        }
    }

    .footer-quick-links {

        @include respond-below(md) {
            margin: 0 0 0 18px;
        }

        @include respond-below(sm) {
            padding: 0px 30px;
            margin: 0 0 0 6px;
        }

        @include respond-below(xs) {
            padding: 0px 30px;
            margin: 0 0 0 6px;
        }


        ul {
            li {
                list-style-type: disc;
                line-height: 35px;

                a {
                    text-decoration: none;
                    color: $primary-color;
                    font-size: 18px;
                }
            }
        }
    }

    .footer-subscribe {

        @include respond-below(lg) {
            margin: 30px 0 0 0;
        }


        .search {
            width: 100%;
            position: relative;
            display: flex;
        }

        .searchTerm {
            width: 100%;
            border: 1px solid $primary-color;
            border-right: none;
            padding: 8px 8px 8px 10px;
            height: auto;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #000;
        }

        .searchTerm:focus {
            color: #000;
        }

        .searchButton {
            height: auto;
            border: 1px solid $primary-color;
            background: $primary-color;
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 17px;
            padding: 0 10px;
        }

        .container {
            width: 80%;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            top: 100%;
            left: 0;
            right: 0;
            height: 200px;
            overflow: scroll;
        }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        .autocomplete-items div:hover {

            background-color: #e9e9e9;
        }

        .autocomplete-active {

            background-color: DodgerBlue !important;
            color: #ffffff;
        }


        p {
            margin: 10px 0;
            color: $primary-color;
        }

        .social-media-footer {



            ul {
                display: flex;
                align-items: center;

                li {
                    list-style: none;
                    line-height: 38px;
                    margin: 0 25px 0 0;

                    a {
                        text-decoration: none;

                        i {
                            font-size: 16px;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }




}

.footer-bottom {
    background: $brand-color;
    padding: 20px 0 10px 0;
    text-align: center;

    p {
        color: #fff;

        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.rtl {
    direction: rtl;
    text-align: right;

    .footer-area {
        .footer-subscribe {
            .searchButton {
                border-radius: 5px 0px 0px 5px;
            }

            .searchTerm {
                border: 1px solid #004B8E;
                border-radius: 0;
            }
        }

        .footer-quick-links {
            ul {
                li {

                    @include respond-below(md) {
                        margin: 0 15px 0 0;
                    }
                }
            }
        }
    }


}