.home-areas-application {
    padding: 70px 0;

    @include respond-below(lg) {
        padding: 30px 0;
    }

    @include respond-below(md) {
        padding: 20px 0;
    }

    @include respond-below(sm) {
        padding: 20px 0;
    }

    @include respond-below(xs) {
        padding: 20px 0;
    }

    h4 {
        color: #fff;
    }

    h2 {
        color: #fff;
    }

    .application-boxes-main {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 60px 0;

        @include respond-below(lg) {
            justify-content: flex-start;
        }

        @include respond-below(md) {
            justify-content: flex-start;
        }

        @include respond-below(sm) {
            margin: 0;
        }

        @include respond-below(xs) {
            margin: 0;
        }

        li {
            list-style: none;
            width: 16%;
            padding: 20px;

            @include respond-below(xl) {
                width: 16%;
            }

            @include respond-below(lg) {
                width: 33%;
            }

            @include respond-below(md) {
                width: 33%;
            }

            @include respond-below(sm) {
                width: 50%;
            }


            &:hover {
                border: 2px solid $primary-color;
                border-radius: 8px;
                background: $primary-color;
            }

            .application-box {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;


                img {
                    width: 80px;
                }

                h4 {
                    text-align: center;
                    color: #fff;
                    padding: 30px 0;
                }
            }

            a {
                &:hover {
                    text-decoration: none;
                }
            }

        }

    }
}