#top {

    font-weight: bold;
    font-size: 25px;
    bottom: 20px;
    left: 30px;
    border-bottom: 0;
    padding: 10px;
    color: #FFFFFF;
    position: fixed;

    i {
        color: #d3d3d3;
        padding: 11px;
        border: 2px solid #e5e5e5;
    }
}