.home-blogs-area {
    padding: 70px 0;

    @include respond-below(lg) {
        padding: 30px 0;
    }

    @include respond-below(md) {
        padding: 20px 0;
    }

    @include respond-below(sm) {
        padding: 20px 0;
    }

    @include respond-below(xs) {
        padding: 20px 0;
    }

    h2 {
        color: #fff;
        margin: 0 0 20px 0;
    }

    .homeblogSwiper {
        .swiper-wrapper {
            .swiper-slide {


                .post-slide {
                    margin: 0 15px;
                }

                .post-slide .post-img {
                    position: relative;
                    overflow: hidden;
                }

                .post-slide .over-layer:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0);
                    transition: all 0.50s ease 0s;
                }

                .post-img:hover .over-layer:before {
                    background: rgba(255, 255, 255, 0.6);
                }

                .post-slide .post-img img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 6px 6px 0 0;


                }

                .post-slide .post-content {
                    padding: 10px 0;
                }

                .post-slide .post-date {
                    display: block;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .post-slide .post-title {
                    margin: 10px 0 10px;
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .post-slide .post-title>a {
                    color: #fff;
                    transition: all 300ms linear 0s;
                    font-weight: 600;
                }

                .post-slide .post-title>a:hover {
                    color: #c70034;
                    text-decoration: none;
                }

                .post-slide .post-description {
                    color: #fff;
                    font-size: 16px;
                    line-height: 24px;
                }

                .post-slide .post-bar {
                    padding: 0;
                    list-style: none;
                    text-transform: uppercase;
                }

                .post-slide .post-bar li {
                    display: inline-block;
                    font-size: 13px;
                    color: #676767;
                }

                .post-slide .post-bar li a {
                    color: #c70034;
                    font-weight: bold;
                }

                .post-slide .post-bar li a:hover {
                    text-decoration: none;
                    color: #999;
                }

                @media only screen and (max-width: 650px) {
                    .post-slide {
                        margin-left: 0;
                    }
                }
            }
        }

        .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
        .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            width: 25px !important;
            height: 4px !important;
            border-radius: 0 !important;
            visibility: inherit !important;
            margin: 50px 5px 0 5px !important;
            background: #fff;
        }
    }

    .swiper-pagination {
        position: relative;
    }


}

// ==================================================== BLOGS LIST PAGE START =============================================================
.blogs-list-area {

    margin: 0px 0 70px 0;

    h1 {
        color: #fff;
        text-align: center;
        margin: 0 0 30px 0;
    }


    .blog-list-box {

        margin: 0 0 60px 0;

        .post-slide {
            margin: 0 15px;
        }

        .post-slide .post-img {
            position: relative;
            overflow: hidden;
        }

        .post-slide .over-layer:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0);
            transition: all 0.50s ease 0s;
        }

        .post-img:hover .over-layer:before {
            background: rgba(255, 255, 255, 0.6);
        }

        .post-slide .post-img img {
            width: 100%;
            height: auto;
        }

        .post-slide .post-content {
            padding: 20px 0px 0 0;
        }

        .post-slide .post-date {
            display: block;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
        }

        .post-slide .post-title {
            margin: 15px 0 14px;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .post-slide .post-title>a {
            color: #fff;
            transition: all 300ms linear 0s;
        }

        .post-slide .post-title>a:hover {
            color: $primary-color;
            text-decoration: none;
        }

        .post-slide .post-description {
            color: #fff;
            font-size: 15px;
            line-height: 24px;
        }

        .post-slide .post-bar {
            padding: 0;
            list-style: none;
            text-transform: uppercase;
        }

        .post-slide .post-bar li {
            display: inline-block;
            font-size: 13px;
            color: #676767;
        }

        .post-slide .post-bar li a {
            color: #c70034;
            font-weight: bold;
        }

        .post-slide .post-bar li a:hover {
            text-decoration: none;
            color: #999;
        }


    }
}

// ==================================================== BLOGS LIST PAGE END ===============================================================


// ==================================================== BLOG DETAILS PAGE START =============================================================
.blog-details-area {
    margin: 10px 0 70px 0;

    @include respond-below(xl) {
        margin: 10px 0 60px 0;
    }

    @include respond-below(lg) {
        margin: 10px 0 60px 0;
    }

    @include respond-below(md) {
        margin: 10px 0 60px 0;
    }

    @include respond-below(sm) {
        margin: 10px 0 60px 0;
    }

    @include respond-below(xs) {
        margin: 10px 0 60px 0;
    }

    .blog-details-box {
        color: #fff;

        h3 {
            margin: 0 0 20px 0;

            @include respond-below(sm) {
                margin: 0 15px 10px 15px;
            }

            @include respond-below(xs) {
                margin: 0 15px 10px 15px;
            }
        }

        h2 {

            @include respond-below(sm) {
                margin: 0 15px 10px 15px;
            }

            @include respond-below(xs) {
                margin: 0 15px 10px 15px;
            }
        }

        p {

            font-size: 17px;

            @include respond-below(sm) {
                padding: 0 15px;
            }

            @include respond-below(xs) {
                padding: 0 15px;
            }

            a {
                color: $primary-color;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    color: $primary-color;
                }
            }
        }
    }
}

// ==================================================== BLOG DETAILS PAGE END ===============================================================