.supplier-home-area {

    padding: 40px 0 70px 0;

    @include respond-below(lg) {
        padding: 0px 0 70px 0;
    }

    @include respond-below(sm) {
        padding: 0px 0 30px 0;
    }

    .supplier-home-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 40px 0;

        @include respond-below(sm) {
            margin: 0;
        }

        h2 {
            color: #fff;
            position: relative; 
  
        }
    }


    .supplier-box {
        padding: 30px 0px;
        border-radius: 6px;

        @include respond-below(xl) {
            padding: 20px 0px;
        }

        @include respond-below(md) {
            padding: 0px 0px;
        }

        @include respond-below(sm) {
            padding: 0px 15px;
            margin: 30px 0 0 0;
        }




        .supplierSwiper {

            padding: 0 20px;


            .swiper-slide {
                text-align: center;
                border-radius: 6px;
                position: relative;
                border-radius: 6px;

                img {
                    width: 120px;
                    height: auto;
                }

                h3 {
                    line-height: 10px;
                    position: absolute;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    &::after {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        width: 100%;
                        height: 100%;
                        background: #32323282;
                        z-index: 1;
                        border-radius: 6px;
                    }

                    a {
                        font-size: 1.3rem !important;
                        color: #fff;
                        text-decoration: none;
                        position: relative;
                        z-index: 9999;
                        line-height: 24px;

                        @include respond-below(lg) {
                            font-size: 1.1rem !important;
                        }

                        &:hover {
                            color: rgb(236, 236, 236);
                            text-decoration: none;
                        }
                    }

                }



            }


            .swiper-button-next,
            .swiper-button-prev {
                position: absolute;
                top: 60px;
                width: 0px;
                height: 40px;
                z-index: 10;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                @include respond-below(xl) {
                    top: 53px;
                }

                @include respond-below(lg) {
                    top: 55px;
                }

                @include respond-below(md) {
                    top: 53px;
                }

                @include respond-below(sm) {
                    top: 51px;
                }
            }


            .swiper-button-next:after,
            .swiper-rtl .swiper-button-prev:after {
                content: 'next';
                font-size: 17px;
                color: #fff;
                font-weight: 600;
                background: $brand-color;
                padding: 20px 10px;

            }

            .swiper-button-prev:after,
            .swiper-rtl .swiper-button-next:after {
                content: 'prev';
                font-size: 17px;
                color: #fff;
                font-weight: 600;
                background: $brand-color;
                padding: 20px 10px;

            }

            .swiper-button-next.swiper-button-disabled,
            .swiper-button-prev.swiper-button-disabled {
                opacity: 1;
            }


        }

        .more {
            display: inline-flex;
            justify-content: flex-end;
            align-items: end;
        }


    }
}