.customer-support-area
{
    padding: 100px 0 100px 0;
    
    @include respond-below(xl) {
        padding: 80px 0 100px 0;
    }

    @include respond-below(lg) {
        padding: 80px 0;
    }

    @include respond-below(sm) {
        padding: 40px 0 70px 0;
    }

    .customer-support-box
    {
        background: $primary-color;
        padding: 50px 40px;
        margin: 40px 30px;
        
        @include respond-below(xl) {
            padding: 50px 40px;
            margin: 40px 30px;
        }
        @include respond-below(lg) {
            padding: 40px 30px;
            margin: 20px 0px;
        }
        @include respond-below(md) {
            padding: 40px 30px;
            margin: 20px 0px;
        }

        h2 
        {
            color: #fff;
        }
        p
        {
            color: #fff;
            font-size: 17px;
            margin: 0 0 30px 0;
        }

    
    }


    .modal
    {
        .modal-dialog
        {
            max-width: 700px !important;
            .modal-content
            {
                .modal-header
                {
                    button.close
                    {
                        float: right !important;
                        font-size: 40px !important;
                        color: #000 !important;
                        text-shadow: 0 1px 0 #fff !important;
                        opacity: 1 !important;
                        border: 0 !important;
                        height: auto !important;
                        width: auto !important;
                        margin: 0 !important;
                        padding: 0 !important;
                        line-height: 28px !important;
                        font-weight: 200 !important;
                    }
                }
            }
        }
    }
}