.director-board-area
{
    padding: 100px 0 100px 0;

    @include respond-below(xl) {
        padding: 0px 0 100px 0;
    }

    @include respond-below(lg) {
        padding: 0 0 80px 0;
    }
    @include respond-below(md) {
        padding: 0 0 50px 0
    }

    @include respond-below(sm) {
        padding: 0px 0 70px 0;
    }
    @include respond-below(xs) {
        padding: 0px 0 70px 0;
    }


    .director-board-box
    {
        h2 
        {
            text-align: center;
            color: #fff;
        }
        h4
        {
            text-align: center;
            color: #fff;
        }
        h6 
        {
            text-align: center;
            color: #fff;
        }
        p
        {
            text-align: center;
            color: #fff;
            @include respond-below(sm) {
                text-align: justify;
             }

          
        }

        ul 
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 60px 0 10px 0;

            @include respond-below(sm) {
               margin: 30px 0 10px 0;
            }
            @include respond-below(xs) {
               margin: 30px 0 10px 0;
            }

            li 
            {
                list-style: none;
                color: #fff;
                text-align: center;
            }
        }
    }
}