.loaction-address-area {
    padding: 100px 0 100px 0;

    @include respond-below(xl) {
        padding: 80px 0 100px 0;
    }

    @include respond-below(lg) {
        padding: 80px 0;
    }

    @include respond-below(sm) {
        padding: 40px 0 70px 0;
    }

    .loaction-address-box {
        margin: 0 0 30px 0;
        color: #fff;
        padding: 0;

        @include respond-below(sm) {
            padding: 0 20px;
        }

        h4 {
            margin: 0 0 15px 0;
            font-size: 18px !important;
            font-weight: 600 !important;

            @include respond-below(xl) {
                font-size: 15px !important;
            }

            @include respond-below(lg) {
                font-size: 11px !important;
            }

            @include respond-below(md) {
                font-size: 13px !important;
            }
        }

        h2 {
            font-size: 1.9rem !important;
            text-transform: uppercase;

            @include respond-below(xl) {
                font-size: 1.5rem !important;
            }

            @include respond-below(lg) {
                font-size: 1.2rem !important;
            }

            @include respond-below(md) {
                font-size: 1.3rem !important;
            }
        }

        .repeate {
            margin: 10px 0 10px 0;
        }

        .second-3 {
            margin: 10px 0 0px 0;
            font-size: 22px !important;

            @include respond-below(xl) {
                font-size: 19px !important;
            }

            @include respond-below(lg) {
                font-size: 15px !important;
            }

            @include respond-below(md) {
                font-size: 14px !important;
            }
        }

        .first-3 {
            margin: 0 0 20px 0;
            font-size: 22px !important;

            @include respond-below(xl) {
                font-size: 19px !important;
            }

            @include respond-below(lg) {
                font-size: 15px !important;
            }

            @include respond-below(md) {
                font-size: 14px !important;
            }
        }

        .map-icon {
            width: 40px;
            height: 40px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            margin: 0 0 40px 0;

            a {
                text-decoration: none;
                display: flex;

                i {
                    color: $primary-color;
                    font-size: 25px;
                }
            }

        }
    }
}