.our-team-area
{
    padding: 100px 0 100px 0;

    @include respond-below(xl) {
        padding: 80px 0 100px 0;
    }

    @include respond-below(lg) {
        padding: 80px 0;
    }

    @include respond-below(sm) {
        padding: 40px 0 70px 0;
    }

    h2 
    {
        color: #fff;
        margin: 15px 0;
    }
    p
    {
        color: #fff;
        font-size: 17px;
    }

    .department-area
    {
        margin: 50px 0 0 0;
    }

    .department-boxes
    {

        h4 
        {
            color: #fff;
            padding: 0 0 0 10px;
        }
        h5
        {
            color: #fff;
            padding: 0 0 0 10px;
        }

        .box {
            font-family: 'Raleway', sans-serif;
            text-align: center;
            padding: 10px;
            overflow: hidden;
            position: relative;
            z-index: 1;
            margin: 0px 0 20px 0;
        }
        
        .box:before {
            content: '';
            height: 100%;
            width: 100%;
            border: 4px solid $primary-color;
            transform: scale(0.5);
            transform-origin: right bottom;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
            transition: all 0.4s ease 0s;
        }
        
        .box:hover:before {
            transform: scale(1);
        }
        
        .box img {
            width: 100%;
            height: auto;
            transition: all 0.4s ease 0s;
        }
        
        .box:hover img {
            filter: grayscale(80%);
        }
        
        .box .box-content {
            color: #fff;
            background: $primary-color;
            width: calc(100% - 50px);
            padding: 20px 10px;
            transform: translateX(-50%);
            opacity: 0;
            position: absolute;
            top: 40%;
            left: 50%;
            z-index: 1;
            transition: all .4s ease 0s;
        }
        
        .box:hover .box-content {
            opacity: 1;
            top: 25px;
        }
        
        .box .title {
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 0 0 3px;
        }
        
        .box .post {
            font-size: 20px;
            font-weight: 200;
            font-style: italic;
            letter-spacing: 1px;
            text-transform: capitalize;
            display: block;
        }
        
        .box .icon {
            padding: 0;
            margin: 0;
            list-style: none;
            opacity: 0;
            transform: translateX(-50%) translateY(-50%);
            position: absolute;
            left: 50%;
            top: 70%;
            transition: all 0.3s ease 0.2s;
        }
        
        .box:hover .icon {
            opacity: 1;
            top: 58%;
        }
        
        .box .icon li {
            margin: 0 3px;
            display: inline-block;
        }
        
        .box .icon li a {
            color: #fff;
            background-color: #fd6a6b;
            font-size: 16px;
            line-height: 36px;
            width: 36px;
            height: 36px;
            display: block;
            position: relative;
            transition: all 0.35s;
        }
        
        .box .icon li a:hover {
            color: #fd6a6b;
            background: #fff;
            text-shadow: 3px 3px 1px rgba(0, 0, 0, .3);
        }
        

        .department-box
        {
            margin: 0 0 40px 0;
            @include respond-below(sm) {
                margin: 0 0 20px 0;
            }
        
        }
        
    }

    
}

.part-of-team
{
    background: url(../img/team/part-of-team.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 30px;
    margin: 0 0 10px 0;

    @include respond-below(lg) {
        padding: 100px 30px;
    }
    @include respond-below(md) {
        padding: 100px 30px;
    }

    h2 
    {
        text-align: center;
        color: #fff;
        margin: 0 0 30px 0;
    }
}