.home-services-area {

    padding: 60px 0 50px 0;

    @include respond-below(sm) {
        padding: 20px 0;
    }

    @include respond-below(xs) {
        padding: 20px 0;
    }

    h4 {
        color: #fff;
    }

    h2 {
        color: #fff;
        margin: 0 0 30px 0;
    }

    .service-box-row {
        padding: 0 20px;

        @include respond-below(lg) {
            padding: 0 10px;
        }
    }

    .service-box-pad {
        padding: 2px;

        @include respond-below(lg) {
            padding: 5px;
        }

        @include respond-below(md) {
            padding: 0 5px;
        }

        @include respond-below(sm) {
            padding: 0 10px;
        }

        @include respond-below(xs) {
            padding: 0 10px;
        }
    }

    .service-box-pad-main {}

    .box {
        background: #333;
        font-family: 'Zilla Slab', serif;
        text-align: center;
        position: relative;
        transition: all 0.35s ease-in-out;
    }

    .box:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .box:before {
        content: "";
        background: linear-gradient(135deg, $brand-color, $primary-color);
        opacity: 0.8;
        transform: perspective(800px) rotateX(90deg);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        transition: all 0.25s ease-in-out;
    }

    .box:hover:before {
        transform: perspective(800px) rotateX(0deg);
    }

    .box img {
        width: 100%;
        height: 310px;
        object-fit: cover;
        transition: all 0.35s ease-in-out;

        @include respond-below(xl) {
            height: 240px;
        }

        @include respond-below(lg) {
            height: 240px;
        }

        @include respond-below(md) {
            height: 240px;
        }

        @include respond-below(sm) {
            height: auto;
        }

        @include respond-below(xs) {
            height: auto;
        }
    }

    .box:hover img {
        opacity: 0.3;
    }

    .box-content {
        color: #fff;
        width: 100%;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transition: all 0.25s ease 0s;
    }

    .box:hover .box-content {
        opacity: 1;
    }

    .box .title {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
    }

    .box .post {
        font-size: 16px;
        font-weight: 300;
        text-transform: capitalize;
        margin: 0 0 10px;
        display: block;
    }

    .box .icon {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .box .icon li {
        margin: 0 3px;
        display: inline-block;
    }

    .box .icon li a {
        color: #c0392b;
        background: #fff;
        font-size: 14px;
        line-height: 31px;
        width: 30px;
        height: 30px;
        display: block;
        position: relative;
        transition: all 0.25s ease;
    }

    .box .icon li a:hover {
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    }

    @media only screen and (max-width:990px) {
        .box {
            margin: 0 0 10px;
        }
    }

    @media only screen and (max-width:767px) {
        .box {
            margin: 0 0 10px;
        }
    }





}



// =============================================== SERVICE START =================================================
.service-content-area {

    padding: 10px 0 60px 0;

    @include respond-below(sm) {
        padding: 10px 0 30px 0;
    }

    @include respond-below(xs) {
        padding: 10px 0 30px 0;
    }


    .service-box-content {
        color: #fff;
        padding: 0 150px 0 20px;

        @include respond-below(lg) {
            padding: 0 40px 0 20px;
        }

        @include respond-below(sm) {
            padding: 0 20px;
        }

        @include respond-below(xs) {
            padding: 0 20px;
        }

        p {
            font-size: 17px;

            @include respond-below(sm) {
                text-align: left;
            }

            @include respond-below(xs) {
                text-align: left;
            }
        }

        h4 {
            padding: 20px 0 10px 0;
        }



        .serv-1 {
            padding: 0 0 0 20px;

            li {
                list-style: square;
                color: #c7c7c7;
                position: relative;
                text-align: left;
                padding: 0 0 0 5px;
                margin: 0 0 7px 10px;
                line-height: 26px;
                font-size: 17px;

                i {
                    margin: 6px 0 0 0;
                    position: absolute;
                    left: 15px;
                    display: none;
                }

                .str {
                    font-size: 18px;
                    color: #fff;
                    font-style: italic;
                    font-weight: 800;
                    display: block;
                }
            }
        }

        .serv-2 {
            padding: 0 0 0 20px;

            li {
                list-style: square;
                color: #c7c7c7;
                position: relative;
                text-align: left;
                padding: 0 0 0 5px;
                margin: 0 0 7px 10px;
                line-height: 26px;
                font-size: 17px;

                i {
                    margin: 6px 0 0 0;
                    position: absolute;
                    left: 15px;
                    display: none;
                }

                .str {
                    font-size: 18px;
                    color: #fff;
                    font-style: italic;
                    font-weight: 800;
                    display: block;
                }
            }
        }

        .warehouse-box {
            margin-bottom: 50px;

            @include respond-below(sm) {
                margin-bottom: 20px;
            }

            @include respond-below(xs) {
                margin-bottom: 20px;
            }
        }
    }

    .service-box-menus {
        position: relative;
        padding: 20px 0 0 30px;
        margin: 0 0 50px 0;

        &::after {
            position: absolute;
            content: '';
            background: $primary-color;
            height: 100%;
            width: 2px;
            left: 0;
            top: 0;
        }

        ul {
            margin: 0 0 60px 0;

            .sub-services-button {
                color: #fff;
                text-transform: uppercase;
                background: #00447f;
                // padding: 20px 10px 8px 20px;
                margin: 0 0 10px 0;
                border-radius: 10px 10px 0 0;

                h5 {
                    padding: 13px 0;
                }
            }

            li {
                list-style: none;
                line-height: 40px;
                padding: 0 0 0 45px;

                i {
                    animation: move .3s ease-in-out alternate infinite;
                    color: $primary-color;
                    position: absolute;
                    margin: 10px 0 0 0;
                    left: 40px;
                }

                a {
                    color: #fff;
                    font-size: 18px;
                    transition: all .5s ease-in-out;

                    &:hover {
                        text-decoration: none;
                        margin-left: 7px;
                        transform: translateX(7px);
                    }
                }

                &.active {
                    background: rgb(0 75 142 / 47%);

                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// =============================================== SERVICE END ===================================================


// =========================== ANIMATION START ==============
@-webkit-keyframes move {
    from {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    to {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
}

@keyframes move {
    from {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    to {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
}

// =========================== ANIMATION END ================


// ======================================================== WARHOUSE START ================================================
.warehouse-boxes-area {

    .warehouse-box {

        background: linear-gradient(180deg, #022747, #004B8E);
        opacity: .8;
        height: 260px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 0 50px 0;

        &:hover {
            background: linear-gradient(359deg, #022747, #004B8E);
        }

        @include respond-below(lg) {
            padding: 0 10px 50px 10px;
        }

        @include respond-below(md) {
            padding: 0 0px 50px 0px;
            height: 240px;
        }

        @include respond-below(sm) {
            height: auto;
            padding: 40px 0;
        }

        @include respond-below(xs) {
            height: auto;
            padding: 40px 0;
        }

        // a {
        //     img {
        //         width: 100%;
        //         border-radius: 5px;
        //     }
        // }

        h4 {
            margin: 20px 0;
            text-transform: uppercase;
            text-align: center;
            line-height: 32px;
            padding: 0 20px;

            a {
                text-decoration: none;
                color: #fff;

                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

        .button-center-box {
            justify-content: flex-start;
        }
    }

    h2 {
        color: #fff;
        text-align: center;
        margin: 0 0 30px 0;
    }
}

// ======================================================== WARHOUSE END ==================================================

.rtl {
    .service-content-area {
        .service-box-menus {
            @include respond-below(sm) {
                padding: 20px 20px 0 20px;
            }

            @include respond-below(xs) {
                padding: 20px 20px 0 20px;
            }

            ul {
                li {
                    padding: 0 50px 0 0px;
                    position: relative;


                    i {
                        right: 10px;
                        animation: none;
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                        left: auto;
                    }

                    h5 {
                        padding: 13px 0;
                    }
                }
            }
        }

        .service-box-content {
            padding: 0 20px 0 120px;

            @include respond-below(md) {
                padding: 0 20px 0 30px;
            }

            .serv-1 {
                padding: 0 20px 0 0px;

                li {
                    text-align: right;
                }
            }

            .serv-2 {
                padding: 0 20px 0 0px;

                li {
                    text-align: right;
                }
            }


            ol {
                li {
                    padding: 0 20px 0 0px;
                    position: relative;
                    text-align: right;
                    margin: 0 19px 0 0;


                    i {
                        right: 10px;
                        animation: none;
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                        left: auto;
                    }

                    h5 {
                        padding: 13px 0;
                    }
                }
            }

            ul {
                li {
                    padding: 0 20px 0 0px;
                    position: relative;
                    text-align: right;
                    margin: 0 19px 0 0;


                    i {
                        right: 10px;
                        animation: none;
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                        left: auto;
                    }

                    h5 {
                        padding: 13px 0;
                    }
                }
            }


        }
    }
}