/* ======================== variables ============================ */
$brand-color : #001D30;
$primary-color : #004B8E;
$secondary-color : #706F6F;
$dark : #333;
$bg : #141806;
$after : #9dc33b05;
/* ======================== variables ============================ */