/* body.rtl {
    direction: rtl;
    text-align: right;
}

.rtl .home .rtl .heroSwiper {
    position: absolute;
    z-index: 999;
    width: 40%;
    top: 60%;
    right: 170px;
    background: rgba(12, 12, 12, 0.3411764706);
    border-radius: 8px;
    padding: 40px 30px;
} */